body{
    background-color: darkblue;
}
.container{
    background-color: #ffffffe4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: auto;
    margin-top: 10rem;
    padding: 5rem;
    border: 5px solid gray;
    border-radius: 7px;
    
}
.input_control{
    margin: 20px 0px;
}
label{
    display: block;
    font-size: 1.2rem;
}
input{
    width: 367px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    border: 2px solid gainsboro;
}
button{
    width: 51%;
    height: 41px;
    border: transparent ;
    background-color:rgb(69, 69, 190);
    border-radius: 7px;
    font-size: 1rem;
    margin: 8px;
    margin-left: 13px;
    margin-top: 5px;
    color: white;

}
button:hover{
    background-color: rgb(117, 29, 200);
    color: white;
}
